# Python
__pycache__/
*.pyc
*.pyo
venv/
.env
*.sqlite3
media/

# Node
node_modules/
dist/
.env.local
.env.production
extra/
# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
*.lock

# General
.DS_Store
*.log
*.sqlite3
.idea/
.vscode/
todo.md
PROGRESS.md
prototype_roadmap.md
dist/
node_modules/
.env
__pycache__/
*.pyc
*.pyo
build/
./